body {
  background-color: #e6e6fa;
}
.Body {
  align-items: top;
  margin-top: 100px;
}

h4 {
  margin: 5px;
  font-family: Marker Felt, fantasy;
}

#button {
  margin: 5px;
  background-color: #9370db;
  border: #9370db;
  box-shadow: 5px 5px 5px grey;
}

#close_button {
  margin: 5px;
  background-color: #cd5c5c;
  border: #cd5c5c;
  box-shadow: 5px 5px 5px grey;
}

#button:hover {
  background-color: #e6e6fa;
  border: #e6e6fa;
  color: #8a2be2;
}

#container {
  margin: 5px;
}

#component {
  background-color: #e0cdef;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #9370db;
  border: #8a2be2;
  border-style: solid;
}

#bgc {
  background-color: #e6e6fa;
}
