body {
  background-color: #e6e6fa;
}
.Body {
  align-items: center;
}

h4 {
  padding: 15px;
}

#button {
  margin: 5px;
  background-color: #9400d3;
  border: #9400d3;
}
#button:hover {
  background-color: #e6e6fa;
  border: #e6e6fa;
  color: #8a2be2;
}
